.expandable-list {
  .list-second-line {
    font: 400 14px/14px Eczar;
    opacity: 0.7;
  }

  .child-wrapper {
    padding-left: 25px;
    overflow: hidden;
  }

  .list-item {
    .edit-button {
      display: none;
    }
  }

  .list-item:hover {
    .edit-button {
      display: initial;
    }
  }
}
