@import '~@angular/material/theming';

@include mat-core();

$primary: mat-palette($mat-deep-purple);
$accent: mat-palette($mat-pink, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);

$disabled: mat-palette($mat-gray);


.expandable-list {
  list-style: none;
  padding-inline-start: 15px;

  li {
    cursor: pointer;

    p {
      margin: 0;
      padding: 0;
      line-height: 35px;

      mat-icon {
        vertical-align: middle;
      }

      .placeholder {
        display: inline-block;
        width: 24px;
      }

      .item-label {
        font-size: 18px;
        mat-icon {
          transform: scale(0.9);
          opacity: 0.4;
          display: none;
        }
      }

      .item-label:hover {
        mat-icon {
          display: inline-block;
        }
      }
    }

    p:hover {
      background-color: mat-color($disabled, 300);
    }

    .child-wrapper {
      overflow: hidden;
    }
  }


}
