.expandable-list {
  .list-second-line {
    font: 400 14px/14px Eczar;
    opacity: 0.7;
  }

  .child-wrapper {
    overflow: hidden;
  }

  .main-category-item {
    .edit-button {
      display: none;
    }
  }

  .main-category-item:hover {
    .edit-button {
      display: initial;
    }
  }
}
