<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="headerTitle" routerLink="/">Finance App</h1>

  </mat-toolbar>
  <mat-progress-bar *ngIf="!loading" mode="determinate" value="0" color="accent"></mat-progress-bar>
  <mat-progress-bar *ngIf="loading" mode="indeterminate" color="warn"></mat-progress-bar>
  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav [opened]="!mobileQuery.matches" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list class="custom-nav-list">
        <a mat-list-item  routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        <a mat-list-item  routerLink="/accounts" routerLinkActive="active">Accounts</a>
        <a mat-list-item  routerLink="/categories" routerLinkActive="active">Categories</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="mainContentWrapper">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
