.ease-in-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  pointer-events: none;
}

.side-child-content {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 15px 10px 45px 10px;
  width: 400px;
  background-color: white;
  box-shadow: -1px 0px 12px 2px rgba(0, 0, 0, 0.8);
  overflow: auto;
}
