<h1>Dashboard</h1>

<div>
  <a mat-raised-button color="primary" routerLink="/dashboard/transaction/income">new income</a> &nbsp;
  <a mat-raised-button color="accent" routerLink="/dashboard/transaction/expense">new expense</a> &nbsp;
</div>

<div class="pure-g">
  <div class="pure-u-1-1 pure-u-md-1-3 pure-u-xl-1-3"><p>Thirds</p></div>

  <div class="pure-u-1-1 pure-u-md-2-3 pure-u-xl-2-3">
    <mat-card>
      <mat-card-title>Transactions</mat-card-title>
      <table mat-table [dataSource]="transactions" class="transactionsTable">
        <ng-container matColumnDef="dateTime">
          <th mat-header-cell *matHeaderCellDef> Date</th>
          <td mat-cell *matCellDef="let transaction"> {{transaction.dateTime.split('T')[0]}} </td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef> Amount</th>
          <td mat-cell *matCellDef="let transaction">
            <span *ngIf="transaction.type === 'EXPENSE'">({{transaction.amount}})</span>
            <span *ngIf="transaction.type !== 'EXPENSE'">{{transaction.amount}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="account">
          <th mat-header-cell *matHeaderCellDef> Account</th>
          <td mat-cell *matCellDef="let transaction">{{transaction.account}} </td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef> Category</th>
          <td mat-cell *matCellDef="let transaction"> {{transaction.category}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Description</th>
          <td mat-cell *matCellDef="let transaction"> {{transaction.description}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let transaction; columns: displayedColumns" (click)="onTransactionSelected(transaction)"
            class="transactionRow"></tr>
      </table>
    </mat-card>

  </div>
</div>

<app-side-child [isChildVisible]="isChildVisible"></app-side-child>
